
.Slogo {margin-top: 200px; margin-left: 100px; font-family:fantasy;font-size: 40px}
.Searchbar { margin-left: 600px; margin-top: 10px  }
.AboutUs { margin-top: 300px; margin-left: 0px; font-family:helvetica}


.Header { background-image: url("") 

